@import url("styles/header.css");
@import url("styles/sobre.css");
@import url("styles/vagas.css");
@import url("styles/opiniao.css");

:root {
    --fonte-principal: "Inter";
    --cor-de-fundo: #ffffff;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --vermelho-destaque: #8E2424;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.teste {
    font-weight: 600;
    font-size: 24px;
}